<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Local</th>
            <th scope="col">CPF</th>
            <th scope="col">Nivel</th>
            <th scope="col">Chave necessaria</th>
            <th scope="col">class</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client  of clients">
            <th scope="row">{{client.id}}</th>
            <th scope=>{{client.name}}</th>
            <th scope=>{{client.email}}</th>
            <th scope=>{{client.location}}</th>
            <th scope=>{{client.cpf}}</th>
            <th scope=>{{client.keys}}</th>
            <th scope=>{{client.class}}</th>
        </tr>
    </tbody>
</table>