
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Local</th>
            <th scope="col">CPF</th>
            <th scope="col">Nivel</th>
            <th scope="col">Dificulcudade</th>
            <th scope="col">Opiniao</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let supplier  of supplier">
            <th scope="row">{{supplier.id}}</th>
            <th scope="row">{{supplier.name}}</th>
            <th scope="row">{{supplier.email}}</th>
            <th scope="row">{{supplier.location}}</th>
            <th scope="row">{{supplier.cpf}}</th>
            <th scope="row">{{supplier.nivel}}</th>
            <th scope="row">{{supplier.dificulcudade}}</th>
            <th scope="row">{{supplier.opiniao}}</th>
        </tr>
    </tbody>
</table>